header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
    height: 4rem;
    align-items: center;
    box-shadow: inset 0px 2px 10px 1px lightgray;

    .logo {
        height: 3rem;
        margin-inline-end: 10px;
    }
}
