.home {
    background: rgb(87, 87, 87) url(../img/home-bg.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    flex-grow: 1;
    font-size: 3rem;
    color: white;
    text-shadow: -1px -1px 10px black;

}